fpdf2>=2.8.7
langchain-core>=1.4.0
langchain-google-genai>=4.2.3
langchain-groq>=1.1.2
langgraph>=1.2.1
python-telegram-bot>=22.7
ddgs>=9.0.0
google-api-python-client>=2.129.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
python-dotenv
langchain-openai>=0.1.1
