langchain==0.3.1
langgraph
python-telegram-bot==21.1.1
python-dotenv
duckduckgo-search
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openai
google-generativeai
langchain-core
langchain-openai
langchain-google-genai
langchain-groq
